[Desktop Entry]
Encoding=UTF-8
Name=MyRuLib
GenericName=E-Book Library Manager
GenericName[ru]=Каталогизатор электронных книг
Comment=Organizer of your collection of e-books
Comment[ru]=Организатор домашней библиотеки электронных книг
Type=Application
Categories=Office;Database;
Exec=myrulib
Icon=myrulib
StartupNotify=true
Terminal=false
