#include <wx/cpp.h>
#include "../../version.inc"

aaaa ICON "home.ico"

#include "wx/msw/wx.rc"

ru_RU RC_DATA "ru.mo"
be_BY RC_DATA "be.mo"
uk_UA RC_DATA "uk.mo"
cs_CZ RC_DATA "cs.mo"
sv_SE RC_DATA "sv.mo"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_BUILD, 0
PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, 0, 0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "\0"
      VALUE "FileDescription", "MyRuLib Application\0"
      VALUE "FileVersion", wxSTRINGIZE(VERSION_MAJOR) "." wxSTRINGIZE(VERSION_MINOR) "." wxSTRINGIZE(VERSION_BUILD) "." wxSTRINGIZE(0) "\0"
      VALUE "InternalName", "myrulib\0"
      VALUE "LegalCopyright", "Copyright © Kandrashin Denis, 2010\0"
      VALUE "OriginalFilename", "myrulib.exe\0"
      VALUE "ProductName", "MyRuLib E-Book Library Manager\0"
      VALUE "ProductVersion", wxSTRINGIZE(VERSION_MAJOR) "." wxSTRINGIZE(VERSION_MINOR) "." wxSTRINGIZE(0) "." wxSTRINGIZE(0) "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
