<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>myrulib</string>
	<key>CFBundleIdentifier</key>
	<string>ru.lintest.MyRuLib</string>
	<key>CFBundleName</key>
	<string>MyRuLib</string>
	<key>CFBundleIconFile</key>
	<string>myrulib</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>	
</dict>
</plist>